.content-wrapper {
	padding: 16px;
}

.navbar-nav > .user-menu .user-image {
	font-size: 25px;
}

.fas.fa-user-circle.img-circle {
	font-size: 110px;
	color: rgb(255,255,255);
}

.far.fa-circle {
	margin-right: 5px;
}

.skin-blue .main-header .logo {
    background-color: rgb(57, 175, 206);
    color: rgb(0, 0, 0);
    border-bottom: 0 solid transparent;
    font-size: 21px;//rgb(34, 154, 186)
    font-weight: 600;
}

.skin-blue .main-header .logo:hover {
	background-color: rgb(34, 154, 186);
}

.skin-blue .main-header .navbar {
    background-color: rgb(62, 196, 231);
}

.main-header .sidebar-toggle::before {
    content: "";
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 1px solid rgb(255, 255, 255) ;
}