html, body {
	font-family: 'Lato', sans-serif;
	height: 100%;
}

.btn--green {
    background-color: #b4c636;
    border: none;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow:auto;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 200px; /* this needs to be bigger than footer height*/
}

.navbar {
	background-color: #3ec4e7;
	float: right;
	margin-left: -4px;
	vertical-align: top;
	width: calc(100% - 50px);
}

#home_button {
	background-color: #b4c636;
	float: left;
    height: 56px;
    width: 50px;
}

#home_menu {
	display: none;
}

#home_button img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 13px;
}

.social--green {
	color: #b6c172;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-right: 16px;
}


.home-banner, .about_us-banner, .contact_us-banner, .join-banner, .news-banner, .monitoring-banner {
	background-position: center;
	background-size: cover;
	height: 500px;
	width: 100%;
}
.home-top_slide {
	margin-top: 56px;
}
.home-top_slide-item img {
	width: 100%; 
}

.carousel-indicators li {
	border: #00000069 1px solid;
}

.home-banner {
	background-position-x: center;
	background-position-y: top;
}
.home-banner-vision {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #FFF;
	float: right;
	margin-right: 50px;
	margin-top: 218px;
	padding: 16px;
	text-align: center;
	width: 268px;
}
.home-banner-vision-big {
	font-size: 1.5em;
}
.home-banner-vision-read_more {
	background-color: #3ec4e9;
	padding-top: 2PX;
	padding-bottom: 2px;
}
.home-banner-vision-read_more a {
	color: #FFF;
}
.home-short_about {
	color: #FFF;
	background-color: #b4c636;
	padding: 8px;
	text-align: center;
	width: 100%;
}
.home-about {
	background-color: #3ec4e7;
	padding: 16px;
}
.home-about-content {
	color: #FFF;
	height: 100px;
	text-align: center;
	text-overflow: ellipsis;
}
.home-moto {
	color: #FFF;
	margin: 16px;
	max-height: 200px;
}
.home-moto-item {
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
}
.home-moto-item p {
	width: 100%;
}
.home-moto-item p img {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.home-about .nav-link {
	color: #FFF;
}
.home-map_wrap {
	height: 500px;
}
.home-map_wrap-map {
	height: 500px;
	width: 100%;
}
.home-map_wrap-map {
	/*position: absolute;*/
}
.home-location, .home-news-content_wrap.float-left {
	background-color: initial;
	background-position: 16px 8px;
	background-repeat: no-repeat;
	min-height: 300px;
}
.home-location {
	background-color: #d8f3fa;
}
.home-news-content_wrap.float-left {
	background-position: 0px 8px;
}
.home-news {
	background-color: #f0f3d8;
	height: 334px;
	width: 100%;
	padding: 16px;
}
.home-news-content_wrap {
	background-color: #FFF;
	height: 100%;
	width: calc(50% - 8px);
}
.home-location-title, .home-news-content_wrap-title {
	color: #FFF;
	font-size: 1.5em;
	height: 104px;
	padding-left: 32px;
	padding-top: 14px;
}
.home-news-content_wrap-title {
	padding-left: 16px;
}
.home-map_wrap-number {
	color: #FFF;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: -168px;
	position: absolute;
	text-align: center;
	width: 100%;
}
.home-map_wrap-number-float {
	background: rgba(180, 198, 54, 0.76);
	float: right;
	margin-right: 32px;
	padding: 32px;
	width: 560px;
}
.home-news-content_wrap.float-left {
	margin-right: 8px; 
}
.home-news-content_wrap.float-right {
	margin-left: 8px; 
}
.home-post-item .title {
	color: initial;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 8px;
}
.home-post-item .date {
	color: rgb(93, 92, 92);
}
.about_us-about_wraper, .contact_us-contact_wraper, .join-join_wraper, .news-contact_wraper, .monitoring-contact_wraper {
	margin-top: 16px;
}
.about_us-about_wraper-title, .contact_us-contact_wraper-title, .join-contact_wraper-title, .news-contact_wraper-title, .monitoring-contact_wraper-title {
	font-size: 1.5em;
	margin-left: calc(30% + 12px);
}
.about_us-about_wraper-line, .contact_us-contact_wraper-line, .join-join_wraper-line, .news-contact_wraper-line, .monitoring-contact_wraper-line {
	background-color: #3fc4e7;
	height: 8px;
	margin-left: 30%;
	width: 70%;
}
.about_us-about_wraper-content {
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 32px;
	text-align: center;
}
.about_us-vm {
	background-size: cover;
	background-position: center;
	padding: 32px;
	text-align: center;
}
.about_us-vm-vision_title, .about_us-vm-mission_title {
	color: #FFF;
	font-size: 2em;about_us-about_wraper-content
}
.about_us-vm-mission_title {
	margin-top: 32px;
}
.about_us-learning_model {
	padding: 32px;
}
.about_us-learning_model-title {
	color: #41c3e7;
	font-size: 2em;
}
.about_us-learning_model-image {
    margin-bottom: 32px;
    margin-top: 32px;
	max-width: 1261px;
	max-height: 704px;
	width: 100%
}
.about_us-learning_model-content-dot, .about_us-learning_model-content-side_text {
	display: inline-block;
}
.about_us-learning_model-content-side_text {
	width: calc(100% - 20px);
}
.about_us-learning_model-content-line {
	line-height: 1;
	margin-top: 16px;
}
.about_us-learning_model-content-dot {
	margin-top: 3px;
	vertical-align: top;
}
.about_us-learning_model-content-side_text-title {
	font-size: 1.3em;
	margin-bottom: 8px;
}
.about_us-learning_model-wrap {
	text-align: center;
	width: 100%;
}
.about_us-learning_model-wrap-graph {
	margin-bottom: 32px;
    margin-top: 32px;
	max-width: 495px;
	max-height: 367px;
	width: 100%;
}
.about_us-learning_model-title.more_space {
	margin-top: 16px;
}
.about_us-learning_model-sub_title {
	font-size: 1.3em;
}
.about_us-learning_model-left, .about_us-learning_model-right {
	width: 50%;
}
.about_us-learning_model-left {
	float: left;
}
.about_us-learning_model-right {
	float: right;
}
.contact_us-contact_wraper-content-sub_title {
	font-size: 1.3em;
}
.contact_us-contact_wraper-content, .join-join_wraper-content, .news-contact_wraper-content, .monitoring-contact_wraper-content {
	padding: 32px;
}
.contact_us-contact_wraper-content-line {
	line-height: 1;
	margin-top: 16px;
}
.contact_us-contact_wraper-content-dot {
	float: left;
	margin-top: 3px;
	padding-right: 8px;
	vertical-align: top;
}
.contact_us-contact_wraper-content-side_text-title {
	float: right;
	font-size: 1.3em;
	margin-bottom: 8px;
}
.join-join_wraper-content form {
    margin-left: auto;
    margin-right: auto;
	width: 40%
}
.pagination-centered {
    display: flex;
    padding-left: 0px;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
}
.news-contact_wraper-content-item {
	padding: 16px;
}
.news-contact_wraper-content-item .image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 160px;
}
.news-contact_wraper-content-item .title {
	font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap; 
    width: 100%; 
}
.news-contact_wraper-title {
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.news-contact_wraper-date {
	margin-left: calc(30% + 12px);
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.news-contact_wraper-content-item a {
	color: initial;
}
.monitoring-contact_wraper-content .container {
	margin-top: 32px;
}
.monitoring-item td {
	vertical-align: top;
}

.about_us-about_wraper-content .partner img {
	height: auto;
	width: 100%;
}
.dateMonitoring select {
	display: inline;
	width: initial;
}
/*footer*/
.footer {
	background-color: #3ec4e7;
	clear:both;
	color: #FFF;
	height: 200px;
	margin-top: -200px; /* negative value of footer height */
	padding:16px;
	position: relative;
} 

.footer a {
	color: #FFF;
}

@media (max-width: 720px) {
	#home_button {
		display: none;
	}
	.navbar {
		background-color: #FFF;
		float: none;
	}
	#home_menu {
		display: block;
	}
	.home-about-content {
		height: 160px;
	}
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
	}
	.navbar-dark .navbar-nav .nav-link {
		color: #505050;
	}
	.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
		color: #101010;
	}
	.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
		color: #101010;
	}
	.home-map_wrap-number {
		font-size: 1.5em;
		margin-top: -100px;
	}
	.home-moto {
		color: #FFF;
		margin: 16px;
		max-height: 250px;
	}
	.home-news {
		height: initial;
	}
	.home-news-content_wrap {
		height: 200px;
		width: 100%;
	}
	.home-news-content_wrap.float-left {
		float: none !important;
		margin-right: 0px;
	}
	.home-news-content_wrap.float-right {
		float: none !important;
		margin-left: 0px;
		margin-top: 16px;
	}
	.home-map_wrap-number {
		font-size: 1.2em;
		margin-top: -136px;
	}
	.home-map_wrap-number-float {
		width: 100%;
		margin-right: 0px;
	}
	.join-join_wraper-content form {
		width: 80%;
	}
}

@media (max-width: 576px) {
	.home-banner-vision {
		background-image: none;
		background-color: rgba(182, 193, 114, 0.50);
		margin-right: 0px;
		margin-top: 364px;
		width: 100%;
	}
	.home-about-content {
		height: 200px;
	}
	.about_us-learning_model-left, .about_us-learning_model-right {
		width: 100%;
	}
	.about_us-learning_model-left {
		float: none;
	}
	.about_us-learning_model-right {
		float: none;
	}
	.join-join_wraper-content form {
		width: 100%;
	}
	.footer {
		height: 280px;
	}
}