.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 5%;
  right: 32px;
  width: 20px;
}

.fas.fa-users.form-control-feedback {
  line-height: 30px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  color: inherit;
}
